[Unit]
Description=Shairport Sync Web UI - Now Playing Display
After=shairport-sync.service
Wants=shairport-sync.service

[Service]
Environment="DEBUG=true"
Type=simple
User=ada
WorkingDirectory=/home/ada/shairport-web
ExecStart=/home/ada/.local/bin/uv run uvicorn main:app --reload --reload-include "*.html" --reload-include "*.css" --reload-include "*.js" --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
